@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100dvh;
    font-family: 'Sour Gummy', sans-serif;

}

.nav-link {
    font-weight: 500 !important;
    color: black;
}

.nav-link-media {
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: black;
}

.nav-link:hover {
    font-weight: 600 !important;
    color: orange;
    border-bottom: 2px solid orange;
}

.active { 
    color: #219B9D !important;
    font-weight: 700 !important;
}

.dropdown-item:hover {
    background-color: #78B3CE !important;
}

#media-nav {
    color: #f07903;
}

#media-nav-pict {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.navbar-nav {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* home page */ 

/*
.home-banner {
    background: #FAB12F !important;
    background-image: url(/STATIC/Images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80dvh;
}


.banner-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-txt {
    font-size: 3rem;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sour Gummy', sans-serif !important;
}

.banner-txt-name {
    font-size: 6rem;
    font-weight: bold;
    color: #FA4032 !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sour Gummy' !important;
}
*/

.home-banner{
    background-color: #FF8000;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}   

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover; /* Ensures the video fills the area */
}

.video-background .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}


.banner-name {
    color: #FF8000;
    font-size: 4rem;
}


.start-animation {
    animation: ShowUp 1s ease-out forwards;
  }

.banner-text {
    color: #ffffff;
    font-size: 2.5rem;
}

.content {
    background-color: rgba(0, 0, 0, 20%);
    border: 1px solid #ffffff;

}

.navbar {
    font-size: 1.3rem;
}


/* Section 1 */

.sect-1 {
    background: rgb(1,149,131);
    background: linear-gradient(90deg, rgba(1,149,131,1) 0%, rgba(28,203,181,1) 48%, rgba(0,212,255,1) 100%);
    padding: 2rem 0px;
    min-height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #FF8000 !important;
    border-radius: 2rem;
}

.slide-btn-banner {
    background-color: #FF8000 !important;
}

.sect1-img-side {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}



.sect-1-txt-side {
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect-1-txt-name {
    color: #f3ec84;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.sect-1-txt-eta {
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: normal;
    text-align: center;
}

.sect-1-txt-txt {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: justify;
}

.sect-1-txt-side-btn {
    width: 70%;
    background-color: #FF8000;
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    border: 0px;
    font-size: 1rem;
    padding: 1rem;
}

.sect-1-txt-side-btn:hover {
    width: 80%;
    background-color: #f17a02;
    font-weight: bold;
    border: 1px solid #ffffff;
}

/* Section 2 */


.sect-2-a, .sect-4-title, .sect-3-a{
    padding-top: 6rem !important;
}
.sect-2-a, .sect-3-a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sec2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec2-1-img:hover {
    transform: scale(1.1);
}

.sect-2-a-title {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 3.5rem !important;
}


/* section 3 */

.sect-3 {
    background: rgb(207,249,30);
    background: radial-gradient(circle, rgba(207,249,30,1) 25%, rgba(75,128,20,1) 94%);
}


.sect-3-a-title {
    font-size: 3.5rem !important;
    font-family: 'Merriweather Sans', sans-serif;
}

.sect-3-a-text {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 200 !important;
}

.sect-3-card {
    background-color: aliceblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2rem solid #f07903;
}

.sect-3-card:hover {
    transform: scale(1.03);
}

.sect-3-b {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sect-3-card-eco {
    border-top: 2rem solid #03f02a !important;
}
.sect-3-card-creative {
    border-top: 2rem solid #f003c8 !important;
}
.sect-3-card-Numérique {
    border-top: 2rem solid #5603f0 !important;
}
.sect-3-card-concours {
    border-top: 2rem solid #bdf003 !important;
}
.sect-3-card-extra {
    border-top: 2rem solid #03f0f0 !important;
}
.sect-3-card-voyage {
    border-top: 2rem solid #c017f3 !important;
}
.sect-3-card-contact {
    border-top: 2rem solid #12048f !important;
}


/* sect-4 */

.sect-4 { 
    background-color: #FDAC53;
}

.sect-4-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #ffffff;

}

.sect-4-title-txt {
    margin-top: 1rem;
    font-size: 4rem !important;
}


/*footer*/

.footer-infos-row {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    
}



.section-why {
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1737999054/tbz/oarxx6wibtjufrg2gku3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.why-iframe-ytb {
    width: 100%;
    height: 80dvh;
    border-radius: 1rem;
    border: .3rem solid #f1f1f1;
}


.section-why-text {
    position: relative; /* Establish a positioning context for child elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.section-why-text-img {
    width: 70% !important;
}


.media-link {
    text-decoration: none;
    text-align: center;
    text-transform: none;
    color: #f07903;
}

.sect-media-page {
    display: flex;
}

.nav-link-btn {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 1rem !important;
    gap: 0 !important;
    background-color: #78B3CE !important;
    border-right: .5px solid rgb(209, 204, 204);
    text-align: center !important;
}

.btm-nav {
    -ms-overflow-style: none; /* Hides scrollbar for IE */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
}


.btm-nav-txt {
    font-size: .5rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.btm-nav-item {
    display: flex;
}

.btm-nav-item:hover {
    background-color: #f07903 !important;
    color: #f1f1f1 !important;
}


#section-Services {
    background: rgb(255,127,0);
    background: linear-gradient(67deg, rgba(255,127,0,1) 0%, rgba(255,154,0,0.9920168751094187) 100%); 
}

.garden-row {
    min-height: 100dvh !important;
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1737999042/tbz/hvqjhm8yc6y1jpsv18ln.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menth-row {
    min-height: 100dvh !important;
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1737999049/tbz/k39tutz20gnuyfrr3hsh.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.podcast-row {
    min-height: 100dvh !important;
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1737999050/tbz/iglstfy9g8dj8tzbxh6c.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.robotics-row {
    min-height: 100dvh !important;
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1737999050/tbz/cfzc7mgvlqemosaetvmg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    
}
.paix-row {
    min-height: 100dvh !important;
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1737999049/tbz/gyggtm7rdvt0fpgnf4cs.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    
}
.youtube-row {
    min-height: 100dvh !important;
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1738013448/tbz/xqqvakcvpkizdaidbwyn.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    
}
.contact-row {
    font-family: 'Merriweather Sans', sans-serif;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    min-height: 100dvh !important;
    display: flex;
    align-items: start;
    justify-content: center;
    
}

.section-podcast-text-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.podcast-ep-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-podcast-text-img-eps {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.podcast-row  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast-epsd-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast-epsd-img:hover {
    border: .3rem solid #f1f1f1;
    cursor: pointer;
}

.podcast-card-text {
    font-size: clamp(0.7rem, 2vw, .8rem);
    color: #f1f1f1;
    text-align: center;
    text-overflow: hidden;
}
.podcast-card-title {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    color: #f1f1f1;
    text-align: center;
    text-overflow: hidden;
    margin-top: .5rem;
}

.podcast-title {
    font-family: sans-serif;
}

#episode1-video {
    display: flex;
}

#episode2-video {
    display: none;
}
#episode3-video {
    display: none;
}
#episode4-video {
    display: none;
}
#episode5-video {
    display: none;
}

#episode6-video {
    display: none;
}

.pourqoi-com {
    color: rgb(48, 44, 44);
}

.section-why-text-img-jardin {
    width: 100%;
}